@namespace Marilog.Shared.UI.Framework.Components.Primitives
@inherits CommandElementBase

<div class="@GetCachedClass()" style="@GetCachedStyle()">
    <img src="@Src" class="@BuildImageClass()" />
</div>

@code {

    [Parameter] public string? Src { get; set; }

    [Parameter] public ImageFitMode FitMode { get; set; } = ImageFitMode.Cover;

    [Parameter] public ImageShape Shape { get; set; } = ImageShape.Rounded;

    [Parameter] public ImageOverflowMode OverflowMode { get; set; } = ImageOverflowMode.Clip;

    [Parameter] public int? WidthPx { get; set; }
    [Parameter] public int? HeightPx { get; set; }

    protected override string BuildBaseClass()
    {
        return TailwindHelper.Classes(
            "xf-image-box",
            TailwindHelper.ImageShape(Shape),
            TailwindHelper.ImageOverflow(OverflowMode),
            base.BuildBaseClass()
        );
    }

    private string BuildImageClass()
    {
        return TailwindHelper.Classes(
            "w-full h-full",
            TailwindHelper.ImageFit(FitMode)
        );
    }

    protected override string BuildBaseStyle()
    {
        var sb = new System.Text.StringBuilder();

        if (WidthPx.HasValue)
            sb.Append($"width:{WidthPx}px;");

        if (HeightPx.HasValue)
            sb.Append($"height:{HeightPx}px;");

        return sb.ToString();
    }
}