@namespace Marilog.Shared.UI.Framework.Components.Layout
@inherits CommandElementBase

<div class="@GetCachedClass()"
     style="@GetCachedStyle()">

    @ChildContent

</div>
@code {

    [Parameter] public int Column { get; set; }

    [Parameter] public int Row { get; set; }

    [Parameter] public int ColumnSpan { get; set; } = 1;

    [Parameter] public int RowSpan { get; set; } = 1;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    protected override string BuildBaseClass()
    {
        return TailwindHelper.Classes(
            "xf-grid-cell",
            base.BuildBaseClass()
        );
    }

    protected override string BuildBaseStyle()
    {
        var sb = new System.Text.StringBuilder(
            base.BuildBaseStyle()
        );

        var colStart = Column + 1;
        var rowStart = Row + 1;

        var colEnd = colStart + ColumnSpan;
        var rowEnd = rowStart + RowSpan;

        sb.Append($"grid-column:{colStart}/{colEnd};");
        sb.Append($"grid-row:{rowStart}/{rowEnd};");

        sb.Append("min-width:0;");
        sb.Append("min-height:0;");

        return sb.ToString();
    }

}
